/* HorizontalScrollContainer.css */
.horizontal-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
}
.horizontal-scroll-container::-webkit-scrollbar {
  display: none;
}
.scroll-content {
  display: inline-flex;
}
