.upper-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.lower-navbar {
    display: flex;
    justify-content:space-between; /* Center the content horizontally */
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 1.5rem;
}

.options {
    display: flex;
    align-items: center;
}

.categories {
    cursor: pointer;
    margin-left: 10px; /* Adjust margin to separate from the search bar */
}

.search-bar input[type="text"] {
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
}

.favorites,
.signin {
    cursor: pointer;
    margin-left: 10px;
}

.favorites:hover,
.signin:hover {
    text-decoration: underline;
}

.location {
    cursor: pointer;
}

.categories ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.categories ul li {
    margin-right: 10px;
    cursor: pointer;
}

.categories ul li:hover {
    text-decoration: underline;
}
