body{
  font-family: "Inter", sans-serif;
}

.box {
  transform: translate(0, -250px);
  margin: 3rem;
}
.recommended-events {
  /* background-color: aqua; */
}

.recommended-events h4 {
  color: white;
  font-size: 30px;
  font-family: "Inter", sans-serif;
}

.upcoming-events {
  /* background-color: yellowgreen; */
  color: #1e2022;
  font-size: 30px;
}


.arrow {
  position: relative;
  top: 0.3rem;
}

@media screen and (max-width: 900px){
  .box {
    transform: translate(0, -320px);
    margin: 1rem;
  }
  .recommended-events h4 {
    font-size: 17px;
  }
  .upcoming-events {
    font-size: 17px;
  }
  
}